* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.logouts {
  color: rgb(160, 12, 1);
  font-family: Sabo;
  letter-spacing: 0.3px;
  font-weight: bold;
  cursor: pointer;
}

nav {
  margin-bottom: 0.3%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  font-family: Sabo;
  background-color: #062f4f;
  border-bottom: rgb(226, 226, 226) 3px solid;
}
.bt3 {
  text-decoration: none;
  background-color: rgb(160, 12, 1);
  margin-bottom: 1em;
  text-align: center;
  margin-left: 6px;
  display: inline-block;
  color: #e4c580;
  padding: 3px 5px;
  font-family: Sabo;
  border-radius: 4px;
  box-shadow: 1px 1px 3px #000;
  letter-spacing: 0.3px;
  font-weight: bold;
}

.bt {
  text-decoration: none;
  background-color: #062f4f;
  margin-bottom: 1em;
  text-align: center;
  margin-left: 6px;
  display: inline-block;
  color: #e4c580;
  padding: 3px 5px;
  font-family: Sabo;
  border-radius: 4px;
  box-shadow: 1px 1px 3px #000;
  letter-spacing: 0.3px;
  font-weight: bold;
}

.bt2 {
  background-color: #062f4f;
  margin-bottom: 1em;
  text-align: center;
  display: inline-block;
  color: #e4c580;
  padding: 3px 5px;
  font-family: Sabo;
  border-radius: 4px;
  box-shadow: 1px 1px 3px #000;
  margin-left: 6px;
  letter-spacing: 0.3px;
}

#header {
  width: 60%;
  margin-left: 8px;
  padding: 13px 5px;
  letter-spacing: 4px;
  font-size: 50px;
  font-weight: bold;
  font-family: Sabo;
  text-shadow: 0 3px 0 #000, 0 3px 0 #000;
}

/* Dropdown */
.dropbtn {
  color: #e4c580;
  font-size: 16px;
  font-family: Sabo;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #062f4f;
  min-width: 200px;
  border-radius: 15px;
  box-shadow: 1px 1px 1px #e4c580;
  z-index: 1;
}

.dropdown-content a {
  color: #e4c580;
  padding: 20px 24px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgb(160, 12, 1);
  border-radius: 7px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Dropdown End */
.logo_landing {
  letter-spacing: 5px;
  color: rgb(226, 226, 226);
  font-size: 33px;
  font-weight: bold;
  font-family: Sabo;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}
.container {
  width: 100%;
  height: 100vh;
  background-color: #062f4f;
  color: #e4c580;
}

.divide {
  width: 85%;
  margin: auto;
  /* margin: 2em; */
}
.divide .landing {
  width: 40%;
  float: left;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 1%;
}
.divide .landing2 {
  width: 50%;

  float: right;
  background-color: #062f4f;
  text-align: center;
  border-radius: 5px;
  padding: 70px 10px;
  margin-top: 0;
  margin-bottom: 1.3%;
  box-shadow: 1px 1px 7px #000;
}

.divide section p {
  text-align: justify;
  line-height: 2em;
  letter-spacing: 2px;
}

.divide .landing2 img {
  width: 90%;
  border-radius: 5px;
  height: 350px;
}
a.btn1 {
  text-decoration: none;
  background-color: rgb(160, 12, 1);
  margin-top: 1em;
  text-align: center;
  display: inline-block;
  color: #e4c580;
  padding: 15px 30px;
  width: 50%;
  border-radius: 7px;
  letter-spacing: 5px;
  font-weight: bold;
  font-size: 100%;
}
.logo {
  letter-spacing: 5px;
  color: #e4c580;
  font-size: 30px;
  font-weight: bold;
  font-family: Sabo;

  text-shadow: 0 1px 0 #e4c580, 0 2px 0 #e4c580, 0 3px 0 #e4c580,
    0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1),
    0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3),
    0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 55%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #e4c580;
  text-decoration: none;
  letter-spacing: 5px;
  font-weight: bold;
  font-size: 14px;
  font-family: Sabo;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #e4c580;
  margin: 5px;
  transition: all 0.3s ease;
}

.highlight,
.current a {
  color: #b82601;
  font-weight: bold;
}

.mobile_header {
  display: none;
}
/* image scroller*/

header img {
  width: 100%;
  height: 400px;
}
header {
  width: 100%;
  margin: auto;
  position: relative;
  padding-bottom: 38%;
  user-select: none;
  border-radius: 5px;
}
#value1,
#value2,
#value3,
#value4,
#value5 {
  display: none;
}

header .slide_img {
  position: absolute;
  width: 100%;
  height: 100%;
}

header .slide_img img {
  width: inherit;
  height: inherit;
}

.prev,
.next {
  width: 12%;
  height: inherit;
  position: absolute;
  top: 0;
  background-color: rgba(255, 87, 51, 0);
  color: rgb(160, 12, 1);
  z-index: 99;
  transition: 0.45s;
  cursor: pointer;
  text-align: center;
}

.next {
  right: 0;
}

.prev {
  left: 0;
}
label span {
  position: absolute;
  font-size: 100pt;
  top: 50%;
  transform: translateY(-50%);
}

.prev:hover,
.next:hover {
  transition: 0.9s;
  /* background-color: rgba(255,87,51,.8); */
  color: #080f5b;
}

header #nav_slide {
  width: 100%;
  bottom: 12%;
  height: 11px;
  position: absolute;
  text-align: center;
  z-index: 9999;
}

#nav_slide .dots {
  top: -5px;
  width: 18px;
  height: 18px;
  margin: 0 4px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.6);
  transition: 0.4s;
}

#nav_slide .dots:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.9);
  transition: 0.5s;
}

.slide_img {
  z-index: 3;
}
#value1:checked ~ #one,
#value2:checked ~ #two,
#value3:checked ~ #three,
#value4:checked ~ #four,
#value5:checked ~ #five {
  z-index: 9;
  animation: scroll 1s ease-in-out;
}

#value1:checked ~ #nav_slide #dot1,
#value2:checked ~ #nav_slide #dot2,
#value3:checked ~ #nav_slide #dot3,
#value4:checked ~ #nav_slide #dot4,
#value5:checked ~ #nav_slide #dot5 {
  background-color: rgba(255, 255, 255, 0.9);
}

@keyframes scroll {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

/*End of image scroller*/

/* admin stle */
.addproduct {
  width: 25%;
  margin-bottom: 1%;
  background-color: rgb(160, 12, 1);
  border: none;
  color: #e4c580;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 1%;
  letter-spacing: 2px;
  cursor: pointer;
}

#modify {
  width: 25%;
  margin-bottom: 1%;
  background-color: #e4c580;
  border: none;
  color: rgb(160, 12, 1);
  border-radius: 4px;
  box-sizing: border-box;
  padding: 1%;
  letter-spacing: 2px;
  cursor: pointer;
}

.cancelproduct {
  width: 50%;
  margin-bottom: 3%;
  background-color: rgb(160, 12, 1);
  border: none;
  color: #e4c580;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 1%;
  letter-spacing: 2px;
  text-decoration: none;
}

.adminbox {
  margin: auto;
  width: 90%;

  background-color: #062f4f;
  color: #e4c580;
  box-sizing: border-box;
  padding: 60px 30px;
  border-radius: 7px;
  box-shadow: inset 2px 2px 10px rgb(226, 226, 226);
}

#adminlogo {
  border-radius: 50px;
  background: white;
  height: 33px;
}

textarea {
  padding: 10px;
  margin-top: 2%;
  width: 100%;
  border-radius: 5px;
}

/*Login form here*/
.log_head h1 {
  margin: 0;
  padding: 0 0 20px;
  letter-spacing: 3px;
  text-align: center;
  font-size: 22px;
  color: rgb(226, 226, 226);
  font-family: Sabo;
}
.formbox {
  margin: auto;
  width: 55%;
  background-color: #062f4f;
  color: #e4c580;
  box-sizing: border-box;
  padding: 80px 30px;
  border-radius: 7px;
  box-shadow: inset 2px 2px 10px rgb(226, 226, 226);
}
.form_footer {
  width: 100%;
  text-align: center;
  color: #e4c580;
  padding: 30px 20px;
}
form.byid input[type='text'] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.byid button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #062f4f;
  color: #e4c580;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.byid button:hover {
  background: rgb(160, 12, 1);
}

form.byid::after {
  content: '';
  clear: both;
  display: table;
}

.formbox p {
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: rgb(226, 226, 226);
  font-family: Sabo;
}
.formbox input {
  width: 100%;
  margin-bottom: 20px;
}

.formbox input[type='text'],
input[type='password'],
input[type='email'] {
  border: none;
  border-bottom: 1px solid #e4c580;
  background: transparent;
  outline: none;
  height: 40px;
  color: #e4c580;
  font-size: 16px;
}

.formbox input[type='submit'] {
  border: none;
  outline: none;
  height: 40px;
  font-weight: bold;
  background: #e4c580;
  margin-top: 3%;
  color: rgb(160, 12, 1);
  letter-spacing: 3px;
  font-size: 18px;
  border-radius: 9px;
  transition: all 1s ease;
}

.formbox input[type='submit']:hover {
  cursor: pointer;
  background: rgb(160, 12, 1);
  color: #e4c580;
}

.formbox a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: rgb(226, 226, 226);
  font-size: 18px;
  font-family: Sabo;
}

.formbox a:hover {
  color: rgb(160, 12, 1);
}

label {
  padding: 10px;
  width: 50%;
  text-align: center;
  letter-spacing: 2px;
  background: rgb(160, 12, 1);
  display: table;
  color: #e4c580;
  font-family: Sabo;
  border-radius: 7px;
  cursor: pointer;
}

input[type='file'] {
  display: none;
}

a.btn {
  text-decoration: none;
  background-color: rgb(160, 12, 1);
  margin-top: 1em;
  text-align: center;
  display: inline-block;
  color: #e4c580;
  padding: 15px 30px;
  border-radius: 7px;
  letter-spacing: 4px;
  font-family: Sabo;
  font-weight: bold;
  font-size: 70%;
}
a.btn2 {
  text-decoration: none;
  background-color: #062f4f;
  margin-bottom: 1em;
  text-align: center;
  display: inline-block;
  color: #e4c580;
  padding: 8px 40px;
  font-family: Sabo;
  border-radius: 7px;
  box-shadow: 1px 1px 7px #000;

  letter-spacing: 4px;
  font-weight: bold;
  font-size: 100%;
}

.addbox {
  margin: auto;
  width: 60%;
  /* height: 100vh; */
  background-color: #062f4f;
  color: #e4c580;
  box-sizing: border-box;
  font-family: Sabo;
  padding: 30px 30px;
  border-radius: 7px;
  box-shadow: inset 2px 2px 10px rgb(226, 226, 226);
}
.addbox input[type='text'] {
  width: 100%;
  padding: 1.7% 1.7%;
  margin-bottom: 10px;
  font-size: 100%;
  display: inline-block;
  color: #35424a;

  border: none;
  border-radius: 4px;

  box-sizing: border-box;
}

.addbox input[type='submit'] {
  border: none;
  outline: none;
  width: 100%;
  padding: 1.7% 1.7%;
  background: #e4c580;
  color: rgb(160, 12, 1);
  letter-spacing: 3px;
  font-size: 18px;
  border-radius: 4px;
  margin-bottom: 10px;
  transition: all 1s ease;
}

select {
  width: 100%;
  padding: 1.7% 1.7%;
  border: none;
  border-radius: 4px;
  margin-bottom: 10px;
}

table {
  /* border-collapse: collapse; */
  width: 100%;
}

table,
th,
td {
  border: 1px solid #e4c580;
}

th {
  height: 50px;
  text-align: center;
  background-color: #e4c580;
  color: rgb(160, 12, 1);
}

td {
  height: 30px;
  vertical-align: bottom;
  padding: 10px;
  text-align: left;
}

tr:hover {
  background-color: #062f4f;
}

tr:nth-child(odd) {
  background-color: #e4c580;
  color: rgb(160, 12, 1);
}

.btn_addbox {
  width: 100%;
  padding: 1.7% 1.7%;
  border: none;
  font-size: 100%;
  letter-spacing: 1%;
  box-sizing: border-box;
  margin-bottom: 12px;
  border-radius: 4px;
  cursor: pointer;
  color: #e4c580;
  font-family: Sabo;
  background-color: rgb(160, 12, 1);
}

.addbox input[type='submit']:hover {
  cursor: pointer;
  background: rgb(160, 12, 1);
  color: #e4c580;
}
.note {
  font-family: Sabo;
  font-size: 15px;
  line-height: 1.6;
  font-weight: bold;
  color: #e4c580;
  letter-spacing: 2px;
}
.note2 {
  font-family: Sabo;
  font-size: 15px;
  text-align: center;
  line-height: 1.6;
  color: #aaa;
  letter-spacing: 2px;
}

#title {
  width: 86%;
  margin: auto;
  margin-top: 7px;
  margin-bottom: 7px;
  line-height: 3em;
  color: rgb(160, 12, 1);
  text-shadow: 0 1px 0 #000, 0 1px 0 #000;
  text-align: center;
  font-size: 1em;
  font-family: Sabo;
  letter-spacing: 4px;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 1px 1px 2px #35424a;
}
#title2 {
  width: 100%;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 3em;
  color: #e4c580;
  text-align: center;
  font-size: 1em;
  font-family: Sabo;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#title a {
  text-decoration: none;
  color: rgb(160, 12, 1);
  text-shadow: 0 1px 0 #000, 0 1px 0 #000;
}

#title a:hover {
  color: #062f4f;
}

.article {
  width: 90%;
  margin: auto;
  /* margin: 2em; */
}
.article section {
  text-align: center;
  background-color: #062f4f;
  box-shadow: 1px 1px 2px #000;
  margin-bottom: 2%;
}

.article section p {
  text-align: justify;
  line-height: 2em;
}

.article section img {
  width: 100%;
  height: 200px;
  border-bottom: rgb(226, 226, 226) 2px solid;
  height: 200px;
}

.article2 {
  width: 90%;
  margin: auto;
  /* margin: 2em; */
}
.article2 section {
  text-align: center;
  background-color: #062f4f;
  box-shadow: 1px 1px 2px #000;
  margin-bottom: 2%;
}

.article2 section p {
  text-align: justify;
  line-height: 2em;
}

.article2 section img {
  width: 100%;
  height: 200px;
  border-bottom: rgb(226, 226, 226) 2px solid;
  height: 200px;
}

.clearfix:before,
.clearfix:after {
  content: ' ';
  display: table;
}

.clearfix:after {
  clear: both;
}

#footer_section {
  background-color: rgb(226, 226, 226);
  padding: 20px;
  margin-top: 4em;
  text-align: center;

  border-top: rgb(226, 226, 226) 2px solid;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transition: transform 2s ease-in;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* The Modal2 (background) */
.modal2 {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* The Close Button */
.close4 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close4:hover,
.close4:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.show {
  width: 45%;
  height: 151px;
  float: left;
  margin-right: 4%;
  margin-bottom: 10px;
  box-shadow: 1px 1px 7px #000;
}

.show2 {
  width: 95%;
  margin: auto;
  height: 250px;
  float: left;
  margin-bottom: 10px;
}

.show img {
  width: 100%;
  height: 150px;
}

.show2 img {
  width: 100%;
  height: 240px;
}

.discrip {
  width: 45%;
  padding: 15px 8px 0px 8px;
  height: 151px;
  float: left;
  margin-bottom: 10px;
  box-shadow: 1px 1px 7px #000;
  border-radius: 5px;
}

.discrip2 {
  width: 100%;

  float: left;
  margin-bottom: 10px;
}

#amount {
  width: 10%;
  border-radius: 2px;
}

.btn3 {
  width: 100%;
  margin: 8% auto;

  background-color: #e4c580;
  text-align: center;
  display: inline-block;
  color: rgb(160, 12, 1);
  padding: 12px 15px;
  border-radius: 4px;
  letter-spacing: 4px;
  font-weight: bold;
  font-family: Sabo;
  font-size: 100%;
  border: none;
  cursor: pointer;
}

footer {
  /* /* position: fixed;
  left: 0;
  */
  bottom: 0;

  width: 100%;
  background-color: #000000;
  color: #e4c580;
  clear: both;
  padding: 35px;
  margin: 0px;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  #header {
    width: 100%;
    margin-left: 20px;
    padding: 13px 5px;
    /* color:#e4c580; */
    letter-spacing: 4px;
    font-size: 40px;
    font-weight: bold;

    text-shadow: 0 3px 0 #000, 0 3px 0 #000;
  }

  .divide {
    width: 100%;
    /* margin: 2em; */
  }
  .logo_landing {
    letter-spacing: 3px;

    font-size: 30px;
  }
  .logo {
    letter-spacing: 2px;

    font-size: 25px;
  }

  .divide .landing {
    width: 80%;
    text-align: center;
    margin-top: 1%;
    margin-right: 0;
    margin-left: 10%;
    margin-bottom: 1%;
  }

  .divide .landing2 {
    width: 90%;
    align-content: center;
    background-color: #062f4f;
    text-align: center;
    border-radius: 5px;
    padding: 20px 2px;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 5%;
    box-shadow: 1px 1px 7px #000;
  }

  .divide section p {
    text-align: justify;
    line-height: 2em;
    letter-spacing: 4px;
  }

  .divide .landing2 img {
    width: 95%;
    border-radius: 5px;
    height: 350px;
  }
  a.btn1 {
    width: 60%;
  }
}

@media screen and (min-width: 1201px) {
  .article section {
    float: left;
    width: 22%;
    margin-left: 2.5%;
    box-shadow: 1px 1px 5px #000;
  }

  #article section img {
    height: 250px;
  }
  .article section p {
    height: 22em;
    overflow: hidden;
  }

  .article2 section {
    float: left;
    width: 46.3%;
    margin-left: 2.5%;
    box-shadow: 1px 1px 5px #000;
  }

  #article2 section img {
    height: 250px;
  }
  .article2 section p {
    height: 22em;
    overflow: hidden;
  }
}

@media only screen and (min-width: 500px) and (max-width: 1200px) {
  .article section {
    float: left;
    width: 42%;
    margin-left: 5%;
    box-shadow: 1px 1px 5px #000;
  }

  #article section img {
    height: 250px;
  }
  .article section p {
    height: 22em;
    overflow: hidden;
  }

  .article2 section {
    float: left;
    width: 60%;
    margin-left: 5%;
    box-shadow: 1px 1px 5px #000;
    height: 250px;
  }

  #article2 section img {
    height: 200px;
  }
  .article2 section p {
    height: 22em;
    overflow: hidden;
  }
}
@media only screen and (max-width: 598px) {
  #header {
    width: 100%;
    margin-left: 20px;
    padding: 13px 5px;

    letter-spacing: 4px;
    font-size: 30px;
  }

  .divide .landing {
    width: 80%;
    text-align: center;
    margin-top: 1%;
    margin-right: 0;
    margin-left: 10%;
    margin-bottom: 1%;
  }

  .divide .landing2 {
    width: 100%;
    align-content: center;
    background-color: #062f4f;
    text-align: center;
    border-radius: 5px;
    padding: 0px 0px;
    margin-top: 1%;
    margin-bottom: 3%;
    margin-right: 3%;
    box-shadow: 1px 1px 7px #000;
  }

  .divide section p {
    text-align: justify;
    line-height: 2em;
    letter-spacing: 2x;
  }

  .divide .landing2 img {
    width: 95%;
    border-radius: 5px;
    height: 350px;
  }
  a.btn1 {
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .logo {
    letter-spacing: 2px;
    font-size: 25px;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #062f4f;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
  /* .nav-active{
      transform:translateX(0%)
  } */

  .nav-active {
    transform: translateX(0%);
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }

    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .toggle .line2 {
    opacity: 0;
  }

  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .formbox {
    margin-top: 15%;
    width: 90%;
  }
  .addbox {
    width: 90%;
  }
  .adminbox {
    width: 95%;
  }
  header {
    display: none;
  }

  .mobile_header {
    display: block;

    width: 100%;
    margin: auto;
    padding-bottom: 5px;

    border-radius: 5px;
    background-color: rgb(226, 226, 226);
    border: 10px solid rgb(226, 226, 226);
  }
  .mobile_header img {
    width: 100%;
    height: 400px;
  }

  .contact {
    color: #e4c580;
    text-align: center;
    font-size: 100%;
  }
  #note {
    font-family: Sabo;
    font-size: 15px;
    line-height: 1.5;
    color: #e4c580;
  }

  #note2 {
    font-family: Sabo;
    font-size: 15px;
    letter-spacing: 3px;
  }

  .addproduct {
    width: 50%;
  }
}
